force-app/main/default/flows/feliz_Cumple.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>felizcumpleferxxo</name>
        <label>felizcumpleferxxo</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Correo__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyemail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>cumplee</name>
        <label>cumple?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>sino</defaultConnectorLabel>
        <rules>
            <name>siCumple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>today</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FechaCumple__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>felizcumpleferxxo</targetReference>
            </connector>
            <label>siCumple</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(TODAY())</expression>
    </formulas>
    <interviewLabel>feliz Cumple {!$Flow.CurrentDateTime}</interviewLabel>
    <label>feliz Cumple</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>cumplee</targetReference>
        </connector>
        <object>Contacto__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-05-21</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>bodyemail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Señoras y señores Va a funcionar&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>subjectemail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;PAra vosotros jugadores&lt;/p&gt;</text>
    </textTemplates>
</Flow>
