force-app/main/default/flows/FlowScreenCualificacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>asignar el valor obtenido de la picklist</description>
        <name>Set_ValorObtenidoPicklist</name>
        <label>Set_ValorObtenidoPicklist</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ValorObtenido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S00_Picklist_Cualificar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ClientDescartarContinue</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClientePickChoice</name>
        <choiceText>{!PickClienteAlmacen}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PickClienteAlmacen</elementReference>
        </value>
    </choices>
    <choices>
        <name>DescartarPickChoice</name>
        <choiceText>{!PickDescarteAlmacen}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PickDescarteAlmacen</elementReference>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>si descarta, si cliente y sino</description>
        <name>Decision_ClientDescartarContinue</name>
        <label>Decision_ClientDescartarContinue</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>S03_T00_Sino</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sino</defaultConnectorLabel>
        <rules>
            <name>SiDescarta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValorObtenido</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DescartarPickChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rating_ToCold</targetReference>
            </connector>
            <label>SiDescarta</label>
        </rules>
        <rules>
            <name>SiCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValorObtenido</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ClientePickChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rating_ToEmpty</targetReference>
            </connector>
            <label>SiCliente</label>
        </rules>
    </decisions>
    <decisions>
        <description>ver si se han creado las tareas, para borrar</description>
        <name>Decision_ComprobarRecordsCreados</name>
        <label>Decision_ComprobarRecordsCreados</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>S05_NadaBorar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sino</defaultConnectorLabel>
        <rules>
            <name>SiHayBorrar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_CapturarRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Task_Creadas</targetReference>
            </connector>
            <label>SiHayBorrar</label>
        </rules>
    </decisions>
    <description>Flow para manejar si se descarta o se convierte en cliente</description>
    <environments>Default</environments>
    <interviewLabel>FlowScreenCualificacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowScreenCualificacion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <description>borramos tareas creadas con anterioridad</description>
        <name>Delete_Task_Creadas</name>
        <label>Delete_Task_Creadas</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>S04_ContenidosBorrar</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>&quot;Enviar Dossier Comercial&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>&quot;Cualificación Final&quot;</stringValue>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <recordLookups>
        <description>captura si se crearon las tareas</description>
        <name>Get_Task_CapturarRecords</name>
        <label>Get_Task_CapturarRecords</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ComprobarRecordsCreados</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>&quot;Cualificación Final&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>&quot;Enviar Dossier Comercial&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>pasa a cold por descartarse</description>
        <name>Update_Rating_ToCold</name>
        <label>Update_Rating_ToCold</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>S01_ClienteDescartado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>se pone a vacio si se elige cliente</description>
        <name>Update_Rating_ToEmpty</name>
        <label>Update_Rating_ToEmpty</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>S02_T00_ClienteAceptado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>califica como cliente</description>
        <name>S00_Cualificacion</name>
        <label>S00_Cualificación</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_ValorObtenidoPicklist</targetReference>
        </connector>
        <fields>
            <name>S00_T00_Titulo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Aquí puedes o Descartar Candidato o Hacer Cliente&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S00_Picklist_Cualificar</name>
            <choiceReferences>ClientePickChoice</choiceReferences>
            <choiceReferences>DescartarPickChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Estados</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>S00_ImagenCliente</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ImagenCliente</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>se descarta cliente</description>
        <name>S01_ClienteDescartado</name>
        <label>S01_ClienteDescartado</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Task_CapturarRecords</targetReference>
        </connector>
        <fields>
            <name>S01_T00_Descartado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(255, 8, 8);&quot;&gt;Descartado...&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>aceptar cliente</description>
        <name>S02_T00_ClienteAceptado</name>
        <label>S02_ClienteAceptado</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Task_CapturarRecords</targetReference>
        </connector>
        <fields>
            <name>S02_T00_ClienteDentro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(34, 224, 44);&quot;&gt;Nuevo Cliente!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>pantalla que muestra si no se ha elegido nada</description>
        <name>S03_T00_Sino</name>
        <label>S03_Sino</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>S03_T00_MantenerCandidato</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; color: rgb(2, 2, 2);&quot;&gt;Se mantiene el candidato&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen informando que se han borrado contenidos</description>
        <name>S04_ContenidosBorrar</name>
        <label>S04_ContenidosBorrar</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>S04_T00_ContenidosBorrados</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: courier; font-size: 20px;&quot;&gt;Correos Automatizados Eliminados...&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>screen que muestra que no se ha borrado nada</description>
        <name>S05_NadaBorar</name>
        <label>S05_NadaBorar</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>S05_T00_NadaBorrar</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px; font-family: courier;&quot;&gt;Nada que borrar...&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S00_Cualificacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PickClienteAlmacen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hacer Cliente</stringValue>
        </value>
    </variables>
    <variables>
        <name>PickDescarteAlmacen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Descartar Candidato</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valor obtenido de la variable picklist</description>
        <name>ValorObtenido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
