force-app/main/default/flows/FlowHotCold.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>flujo para verificar que se han pillado phone y codigo postal, se cambia rating a hot y ademas se crean 2 tareas, y ademas en  la pagina cuenta tiene que existir el rating para poder cambiarlo</description>
    <environments>Default</environments>
    <formulas>
        <description>formula para crear el dia de mañana</description>
        <name>DiaDeManana</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(TODAY()+1)</expression>
    </formulas>
    <formulas>
        <description>SCHEDULE para crear tarea 1 semana despues</description>
        <name>SemanaSiguiente</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(TODAY()+7)</expression>
    </formulas>
    <interviewLabel>FlowHotCold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_Triggered_ToHotAndCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Envia dossier Comercial 24h después</description>
        <name>Create_Task_EnvioDossier</name>
        <label>Create_Task_EnvioDossier</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_Task_SemanaSiguienteTarea</targetReference>
        </connector>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>DiaDeManana</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>&quot;Enviar Dossier Comercial&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>una semana despues se envia cualificacion final</description>
        <name>Create_Task_SemanaSiguienteTarea</name>
        <label>Create_Task_SemanaSiguienteTarea</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>SemanaSiguiente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>&quot;Cualificación Final&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>actualizar a Hot para saber que tenemos campos rellenos</description>
        <name>Update_Rating_ToHot</name>
        <label>Update_Rating_ToHot</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Create_Task_EnvioDossier</targetReference>
        </connector>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Rating_ToHot</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
